:root {
    --blanco: #ffffff;
    --gris: #E6E6E6;
    --fucsia: #f34070;
    --fucsiaoscuro: #e71752;
    --amarillo: #d7f205;
    --naranja: #f29441;
    --rosa: #f24b4b;

}
.brand {
    text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }
  
  .brand span {
    color: var(--blanco);
  }
/* Slideshow container */
.slideshow-container {
    max-width: 70%;

    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* estilos generales  */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.content {
    flex: 1;
}

/* ESTILOS HEADER */
.contenedor {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

/* ESTILOS HEADER */
header {
    flex-direction: column;
    background-image: url("../img/header-h.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0em;
    font-weight: 500;
    color: var(--naranja);
    justify-content: right;
}

input[type=checkbox] {
    display: none;
}

nav {
    display: flex;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;

}

header li {
    display: inline-block;
}





header a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;

    padding: 30px 15px 26px;
}

header a:hover {
    color: var(--amarillo);
    font-weight: 500;

}

.resaltado {
    color: var(--azuloscuro);
}

.resaltado_cursiva {
    color: var(--azuloscuro);
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

/* BODY */

body {
    background-color: var(--fucsia);
    /*     background-image: url("../img/harlem_show2.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
}

.img_center {
    /*     display: flex; */
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    clear: both;
}

.img12 {
    display: flex;
    width: 45%;
    position: relative;
    padding: 15px;
    left: 15px;
    border-radius: 20px;
}

.spoty {
    padding: 5px;
    border-radius: 5px;
}

.line_up0 {
    background-color: #e7175231;
    border-radius: 4px;
    float: right;
    display: flex;
    margin: 5px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
}

.line_up0 img {
    padding: 1.1em;
}

.line_up1 {
    background-color: #e71752;
    border-radius: 4px;
    float: left;
    display: flex;
    clear: both;
    margin: 5px;
    flex-direction: column;
    height: fit-content;
}


.line_up1 img {
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

/* .twitter-timeline {
    display: flex;
    float: right;
} */

/* .iframes_1 {
    display: flex;
    margin: 10px;
    float: right;
    clear: both;
} */

/* .twitter-timeline {
    float: right;
} */

/* FOOTER */

.footer {
    background-color: var(--fucsia);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.section_footer {
    padding: 1em;
    text-align: center;
}

/* MENU HAMBURGUESA */

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 950px) {
    .contenedor {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;

    }

    .menu_lista {
        display: none;
        position: absolute;
        background-color: var(--fucsiaoscuro);
        right: 0;
        text-align: right;
        padding: 50px 0;
        flex-direction: column;
        width: 15em;
    }

    .menu_lista li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu_lista li+li {
        margin-top: 32px;
    }

    input[type=checkbox]:checked~.menu_lista {
        display: block;

    }

    .hamburger {
        display: block;
        padding-right: 1em;

    }

    .img_center {
        display: flex;
        flex-wrap: wrap;
    }
}
