:root {
    --blanco: #ffffff;
    --gris: #E6E6E6;
    --fucsia: #f34070;
    --fucsiaoscuro: #e71752;
    --amarillo: #d7f205;
    --naranja: #f29441;
    --rosa: #f24b4b;

}

/* BODY */

body {
    background-color: var(--fucsia);

    display: flex;
    flex-direction: column;
}
.img_center {

    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    clear: both;
}

.img12 {
    display: flex;
    width: 45%;
    position: relative;
    padding: 15px;
    left: 15px;
    border-radius: 20px;
}

.spoty {
    padding: 5px;
    border-radius: 5px;
}

.line_up0 {
    background-color: #e7175231;
    border-radius: 4px;
    float: right;
    display: flex;
    margin: 5px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
}

.line_up0 img {
    padding: 1.1em;
}

.line_up1 {
    background-color: #e71752;
    border-radius: 4px;
    float: left;
    display: flex;
    clear: both;
    margin: 5px;
    flex-direction: column;
    height: fit-content;
}


.line_up1 img {
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

.brand {
    text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }
  
  .brand span {
    color: var(--blanco);
  }
.imges {
    width: 20%;
    max-width: 20%;
    border-radius: 2%;
}

.precios {
    display: flex;
    width: 900px;
    flex-direction: column;
    padding: 15px;
}

.div_precios {
    display: flex;
    padding: 1%;
    align-items: center;
    margin-bottom: 15px;
    background-color: #e77d9998;
    border: solid #f24b4b;
}

.div_precios p {
    flex-direction: column;
    display: flex
}

.div_precios button {
    border-radius: 10%;
    font-weight: bold;
}

.detalle_precios {
    padding: 1%;
    margin: 1%;
    line-height: 150%;
}

.ticket_valor {
    color: aliceblue;
    background-color: var(--fucsiaoscuro);
    border-radius: 15%;
    font-size: large;
    font-style: italic;
    font-weight: lighter;
}

.main_compra {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.elon {
    width: 600px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center
}

#frame1 {
    border-radius: 12px;
    /* display: flex; */
    padding: -15px;
    position: relative;
    left: 2px;
    margin: 20px;
}
